.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-height: 600px;
  border-radius: 8px;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media print {
  @page {
    size: 8.5in 11in
  }
  /*body {
    margin: 0;
  }*/
  .container {
    width: 1000px;
  }
  .grid {
    grid-column-gap: var(--pico-grid-column-gap) !important;
    grid-row-gap: var(--pico-grid-row-gap) !important;
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  nav {
    display: none;
  }
  .card {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
    width: 300px !important;
  }
}
