@media print {
  .card {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
    width: 400px;
  }
  nav {
    display: none;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-height: 600px;
  border-radius: 8px;
}
footer {
  display: flex;
  justify-content: space-between;
}
.price::before {
  content:'~';
}
.price::after {
  content: '$';
}
