<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link
  rel="stylesheet"
  href="/assets/css/pico.min.css"
>
    {% include head-custom.html %}
    <link rel="icon" type="image/png" href="/cadeaux/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/cadeaux/favicon.svg" />
    <link rel="shortcut icon" href="/cadeaux/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/cadeaux/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Listes d'idées cadeaux" />
    <link rel="manifest" href="/cadeaux/site.webmanifest" />
  </head>
  <body>


    <main id="content" class="main-content container" role="main">
      {{ content }}

    </main>
  </body>
</html>
